.Home-page {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.query-area, .Subscription-area {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.query-area h2, .Subscription-area h2 {
    color: #333;
    margin-bottom: 16px;
}

.query-area input[type="text"], .Subscription-area input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.query-area button, .Subscription-area button {
    padding: 10px 20px;
    background-color: #FF3E6C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.query-area button:hover, .Subscription-area button:hover {
    background-color: #D62C4E;
}

.query-area ul, .Subscription-area ul {
    list-style-type: none;
    padding: 20px;
}

.query-area li, .Subscription-area li {
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.query-area li img, .Subscription-area li img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%; 
}

.song-details h3 {
    margin-top: 0;
}

.song-details p {
    margin: 5px 0;
}

.song-details button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

.song-details button:hover {
    background-color: #45a049;
}

.song h3 {
    margin-top: 0;
    margin-bottom: 4px;
}

.song p {
    margin: 0 0 4px 0;
}

.song button {
    padding: 2px 5px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

.song button:hover {
    background-color: #ef06e4;
}

.header {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .button-right {
    position: absolute; 
    right: 0;
    top: 0; 
    padding: 5px 10px;
    background-color: #FF3E6C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header .button-right:hover {
    background-color: #D62C4E;
}
