.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  
  .login-form {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-heading {
    text-align: center;
    color: #000000; 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000; 
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #c88fd7b4;
    color: #000000; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #c88fd7b4; 
  }
  
  .register-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .Login-link a {
    color: #c66ae4fb;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  